<section class="widget about{{ classes }}">
    <div class="{{ componentProperties.container_width == 'full' ? 'container-fluid' : 'container' }}">
        <div class="widget__content row">
            <div class="col-12 col-md-6 mb-5 mb-md-0">
                <div class="about__images{{ data.images|length > 0 ? ' owl-carousel images-carousel' : '' }}" >
                {% for image in data.images %}
                    <div class="about__image-wrap">
                        <img src="{{ image.image|media }}" alt="" class="about__image">
                    </div>
                {% endfor %}
                </div>
            </div>
            <col-12 class="col-md-6">
                <{{ componentProperties.title_tag }} class="widget__title about__title">
                    {{ data.title }}
                </{{ componentProperties.title_tag }}>
                <div class="about__desc editor-output">
                    {{ data.desc|raw }}
                </div>
                <a href="{{ data.button_link }}" class="widget__button button button_black button_inverse {{ data.button_class }}">
                    <span class="button__text">
                    {{ data.button_text }}
                    </span>
                </a>
            </col-12>
        </div>
    </div>
</section>