<section class="Section About{{ widget.classes }}" id="{{ widget.id }}"{{ widget.attrs }}>
    <header class="SectionHeader Section__Header Container wow Animate Animate_fadeInUp">
        <div class="Grid">
            <div class="Grid__Col Grid__Col_12">
                <h2 class="SectionHeader__Title Title">{{ data.title }}</h2>
            </div>
            {% if data.subtitle %}
            <div class="Grid__Col Grid__Col_12">
                <div class="SectionHeader__SubTitle">{{ data.subtitle }}</div>
            </div>
            {% endif %}
        </div>
    </header>
    <div class="Section__Content Container">
        <div class="Grid">
            {% if data.images %}
            <div class="Grid__Col Grid__Col_12 Grid__Col_md_6 wow Animate Animate_fadeInLeft">
                <div class="Owl About__Images owl-carousel" id="about-carousel" data-dots="false">
                    {% for image in data.images %}
                    <div class="About__Image">
                        <img class="Image" alt="{{ image.alt ? image.alt : '' }}" src="{{ image.src | media }}"/>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            {% if data.content %}
            <div class="Grid__Col Grid__Col_12 Grid__Col_md_6 wow Animate Animate_fadeInRight">
                <div class="Entry About__Entry">
                    {{ data.content|raw }}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</section>
