<section class="Section Cta{{ widget.classes }}" id="{{ widget.id }}"{{ widget.attrs }}>
    <div class="Section__Content Container">
        <div class="Grid">
            <div class="Grid__Col Grid__Col_12 Cta__Content">
                <h2 class="Cta__Title Title wow Animate Animate_fadeInUp">{{ data.title|raw }}</h2>
                <div class="Cta__Text Entry wow Animate Animate_fadeInUp">
                    {{ data.content|raw }}
                </div>
                <a class="Button Button_ctaInverse Button_text_light Cta__Button wow Animate Animate_fadeInUp" data-popup="callback-popup" href="#callback-popup">
                 {{ data.button_text }}
                </a>
            </div>
        </div>
    </div>
</section>
