<section id="{{ data.widget.id }}" class="widget widget-editor{{ classes }}" >
    <div class="{{ componentProperties.container_width == 'full' ? 'container-fluid' : 'container' }} widget__body">
        <header class="row widget__header">
            <div class="col-12">
                <{{ componentProperties.title_tag }} class="widget__title">
                    {{ data.title }}
                </{{ componentProperties.title_tag }}>
                <div class=" widget__subtitle">{{ data.subtitle|raw }}</div>
            </div>
        </header>
        <div class="row justify-content-center widget__content">
            <div class="col-12 editor-output">
            {{ data.content|raw}}
            </div>
        </div>
        {% if data.button_text %}
        <footer class="widget__footer row">
            <div class="col-12">
                <a href="{{ data.button_link }}" class="widget__button button {{ data.button_class }}">
                    <span class="button__text">
                    {{ data.button_text }}
                    </span>
                </a>
            </div>
        </footer>
        {% endif %}
        </div>
        {% if data.widget.overlay %}
        <div class="widget__overlay"></div>
        {% endif %}
</section>