<section class="Hero{{ widget.classes }}" id="{{ widget.id }}"{{ widget.attrs }}>
    <div class="Container Hero__Container">
        <div class="Grid">
            <div class="Hero__Inner">
                <h1 class="Hero__Title Title wow Animate Animate_fadeInLeft">{{ data.title|raw }}</h1>
                <div class="Hero__Text Entry Entry_light wow Animate Animate_fadeInRight">{{ data.text|raw }}</div>
                <a class="Button Button_ctaInverse Button_text_light Hero__Button wow Animate Animate_fadeInLeft" data-popup="callback-popup" href="#callback-popup">{{ data.button_text }}</a>
            </div>
        </div>
    </div>
</section>
