<section class="Section CardGrid{{ widget.classes }}" id="{{ widget.id }}"{{ widget.attrs }}>
    {% if data.title or data.subtitle %}
    <header class="SectionHeader Section__Header Container wow Animate Animate_fadeInUp">
        <div class="Grid">
            {% if data.title %}
            <div class="Grid__Col Grid__Col_12">
                <h2 class="SectionHeader__Title Title">{{ data.title }}</h2>
            </div>
            {% endif %}
            {% if data.subtitle %}
            <div class="Grid__Col Grid__Col_12">
                <div class="SectionHeader__SubTitle">{{ data.subtitle }}</div>
            </div>
            {% endif %}
        </div>
    </header>
    {% endif %}
    {% if data.elements %}
    <div class="Section__Content Container">
        <div class="Grid CardsGrid__Items">
            {% for item in data.elements %}
            <div class="Grid__Col {{ data.iconCardWidthClasses }} wow Animate Animate_fadeInUp">
                <article class="ImageCard Card CardsGrid__Item Card{{ data.iconCardClasses }}">
                    {% if item.image or item.icon_class %}
                    <div class="ImageCard__ImageWrap">
                        {% if item.image %}
                        <img class="Image ImageCard__Image" alt="{{ item.title }}" src="{{ item.image | media }}"/>
                        {% elseif item.icon_class %}
                        <div class="ImageCard__Image {{ item.icon_class }}"></div>
                        {% endif %}
                    </div>
                    {% endif %}
                    <div class="ImageCard__Content">
                        <h3 class="ImageCard__Title Title Title_card">
                            {% if item.link %}
                            <a class="Title__Link" href="{{ item.link}}">{{ item.title }}</a>
                            {% else %}
                            {{ item.title }}
                            {% endif %}
                        </h3>
                        {% if item.text %}
                        <div class="ImageCard__Text Entry">
                            {{ item. text }}
                        </div>
                        {% endif %}
                    </div>
                </article>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
</section>
