.icon-card {
  display: flex;
  align-items: center;

  &__icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  &__image {
    max-width: 100%;
    height: auto;
    min-height: 100%;
  }

  &_horizontal {
    flex-direction: row;
  }

  &_horizontal &__icon-wrapper {
    margin-right: 1rem;
  }

  &_vertical {
    flex-direction: column;
    text-align: center;
  }

  &_vertical  &__icon-wrapper {
    margin-bottom: 1rem;
  }

}