<div class="{{ __SELF__.classes() }}">
    {% if __SELF__.property('show_icon') %}
    <div class="Icon IconBox__Icon">
        <i class="Icon__Inner{{ __SELF__.getIconClass() }}"></i>
    </div>
    {% endif %}
    <div class="IconBox__Content">
        {% if __SELF__.property('show_title') and __SELF__.getProp('name') %}

            <{{__SELF__.getTitleTag()}} class="IconBox__Title Title">
                {{ __SELF__.getProp('name') }}
            </{{__SELF__.getTitleTag()}}>

        {% endif %}

        <div class="IconBox__Text Entry"{{ __SELF__.getSchemaScope()|raw }}>
        {{ __SELF__.getContent()|raw }}
        </div>
        {{__SELF__.getGeo()|raw}}
    </div>
</div>
