<{{ __SELF__.getTag() }}{{ __SELF__.getAttrs()|raw }} class="{{ __SELF__.classes() }}">
    {% if __SELF__.property('show_image') and __SELF__.image() %}
    <div class="logo__img-wrapper"{{ __SELF__.imgWrapperStyles()|raw }}>
        <img src="{{ __SELF__.image()|media }}" alt="{{ __SELF__.alt() }}" class="logo__img"{{ __SELF__.imageMicrodata()|raw }}>
    </div>
    {% endif %}

    {% if __SELF__.title() or __SELF__.desc() %}
    <{{ __SELF__.getTextTag() }} class="logo__text">
        {% if __SELF__.title() %}
        <span class="logo__title"{{ __SELF__.nameMicrodata()|raw }}>
            {{ __SELF__.title() }}
        </span>
        {% endif %}
        {% if __SELF__.desc() %}
        <span class="logo__desc">
            {{ __SELF__.desc() }}
        </span>
        {% endif %}
    </{{ __SELF__.getTextTag() }}>
    {% endif %}
</{{ __SELF__.getTag() }}>
