<ul class="breadcrumbs{{ __SELF__.classes() }}">
    {% for breadcrumb in __SELF__.getItems() %}
        <li class="breadcrumbs__item">
            {% if breadcrumb.url %}
                <a href="{{ breadcrumb.url }}" class="breadcrumbs__link">
                    {{ breadcrumb.label }}
                </a>
            {% else %}
                <span class="breadcrumbs__text">
                    {{ breadcrumb.label }}
                </span>
            {% endif %}
        </li>
    {% endfor %}
</ul>